.dosiconos {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-left: 14%;
}

.icons3 {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  .icons3 {
    gap: 10px;
  }
}
