.order {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}

.botonSubmit {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  top: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  transition: all 1s;
}
.div {
  background-color: black;
  height: 32px;
}

.divPrice {
  height: 48px;
}

.divText {
  height: 209px;
}
.title {
  font-size: 20px;

  margin-top: 70px;
}

@media screen and (max-width: 768px) {
  .order {
    overflow-y: visible;
  }
}
